{% extends  '../../prod.html' %}
{% load static %}
{% block firsttitle %}Borne Escamotable Automatisée:{% endblock %}
{% block intro %}introduction{% endblock %}
{% block image %}
<img src="{% static 'images/products/1568118026.png' %}" alt="CLOISON AMOVIBLE logo">
{% endblock %}
{% block concept %}
 Nous proposons des bornes escamotables automatisées, idéales pour contrôler l'accès aux zones piétonnes,
aux parkings, et aux zones sensibles. Nos bornes sont conçues pour être robustes et résistantes aux chocs, tout en offrant une montée et une descente rapides et fluides.
Nous intégrons nos bornes avec des systèmes de contrôle d'accès et de surveillance pour une gestion optimale des flux de véhicules.
{% endblock %}
{% block POURQUOI %}test {% endblock %}
