{% extends  '../../prod.html' %}
{% load static %}
{% block firsttitle %}Portails Automatiques: {% endblock %}
{% block intro %}introduction{% endblock %}
{% block image %}
<img src="{% static 'images/products/1568118026.png' %}" alt="CLOISON AMOVIBLE logo">
{% endblock %}
{% block concept %}
 Nous concevons et installons des portails automatiques qui offrent une combinaison de sécurité,
 de confort, et d'esthétisme. ISO-BEST propose des portails coulissants, battants, ou télescopiques,
  équipés de moteurs robustes et fiables. 
  Nos systèmes d'automatisation sont intégrés avec des dispositifs de sécurité tels que des cellules photoélectriques,
   des capteurs de mouvement,
 et des systèmes de verrouillage automatique pour garantir une utilisation sécurisée et efficace.
{% endblock %}
{% block POURQUOI %}test {% endblock %}