{% extends  '../../prod.html' %}
{% load static %}
{% block firsttitle %}Portes Automatiques: {% endblock %}
{% block intro %}introduction{% endblock %}
{% block image %}
<img src="{% static 'images/products/1568118026.png' %}" alt="CLOISON AMOVIBLE logo">
{% endblock %}
{% block concept %}
Nous sommes spécialisés dans l'installation des portes automatiques pour une variété d'applications, 
y compris les entrées de bâtiments commerciaux, les hôpitaux,
les hôtels, et les centres commerciaux. Nous proposons des portes coulissantes,
pivotantes, et télescopiques, toutes équipées de systèmes d'automatisation avancés qui garantissent une ouverture et une fermeture fluides, silencieuses, et sécurisées. Nos solutions sont personnalisables en fonction des besoins spécifiques de chaque projet,
incluant des options de contrôle d'accès et de sécurité renforcée.
{% endblock %}
{% block POURQUOI %}test {% endblock %}