{% extends  '../../prod.html' %}
{% load static %}
{% block firsttitle %}Rideaux Métalliques Motorisés:    {% endblock %}
{% block intro %}introduction{% endblock %}
{% block image %}
<img src="{% static 'images/products/1568118026.png' %}" alt="CLOISON AMOVIBLE logo">
{% endblock %}
{% block concept %}
Nous fabriquons et installons des rideaux métalliques motorisés,
offrant une protection robuste et automatisée pour les vitrines de magasins, les entrepôts, et les garages. 
Nos rideaux sont équipés de moteurs puissants et silencieux, permettant une ouverture et une fermeture rapides et sécurisées. 
Nous proposons également des options de commande à distance et des dispositifs de sécurité intégrés pour prévenir les accidents et les tentatives d'effraction.
{% endblock %}
{% block POURQUOI %}test {% endblock %}
