{% extends  '../../prod.html' %}
{% load static %}
{% block firsttitle %}Systèmes de Volets Battants Automatisés:{% endblock %}
{% block intro %}introduction{% endblock %}
{% block image %}
<img src="{% static 'images/products/1568118026.png' %}" alt="CLOISON AMOVIBLE logo">
{% endblock %}
{% block concept %}
Nous proposons des systèmes d'automatisation pour volets battants,
permettant une ouverture et une fermeture motorisées, même pour des volets lourds ou de grande taille.
ISO-BEST conçoit des solutions sur mesure qui s'adaptent aux besoins spécifiques de chaque bâtiment, 
offrant à la fois confort, sécurité, et une esthétique discrète.

{% endblock %}
{% block POURQUOI %}test {% endblock %}
