{% extends  '../../prod.html' %}
{% load static %}
{% block firsttitle %}Volets Roulants Automatisé:   {% endblock %}
{% block intro %}introduction{% endblock %}
{% block image %}
<img src="{% static 'images/products/1568118026.png' %}" alt="CLOISON AMOVIBLE logo">
{% endblock %}
{% block concept %}
Nous offrons des volets roulants automatisés, idéaux pour les résidences, 
les bureaux, et les locaux commerciaux. Nos volets roulants sont motorisés pour offrir un confort d'utilisation optimal, 
permettant de les ouvrir ou de les fermer d'une simple pression sur un bouton ou via une télécommande. 
Nous proposons également des systèmes connectés pour une gestion à distance via smartphone ou tablette. 
Nos solutions assurent une isolation thermique et acoustique améliorée, 
ainsi qu'une protection contre les effractions.
{% endblock %}
{% block POURQUOI %}test {% endblock %}
