
{% extends  '../../prod.html' %}
{% load static %}
{% block firsttitle %}Habillage de Façades en Alucobond (Bardage){% endblock %}
{% block intro %}introduction{% endblock %}
{% block image %}
<img src="{% static 'images/products/1568118026.png' %}" alt="CLOISON AMOVIBLE logo">
{% endblock %}
{% block concept %}
Nous ISO-BEST proposons des façades en Alucobond, 
un matériau composite qui offre une grande liberté de design tout en étant extrêmement résistant et léger.
Nous assurons la précision dans la découpe et l'installation pour créer des finitions nettes et modernes.
{% endblock %}
{% block POURQUOI %}test {% endblock %}