{% extends  '../../prod.html' %}
{% load static %}
{% block firsttitle %}Baies Vitrées en Aluminium: {% endblock %}
{% block intro %}introduction{% endblock %}
{% block image %}
<img src="{% static 'images/products/1568118026.png' %}" alt="CLOISON AMOVIBLE logo">
{% endblock %}
{% block concept %}
spécialisé dans la conception et l'installation de baies vitrées en aluminium, 
offrant des solutions qui maximisent la lumière naturelle et créent une connexion fluide entre l'intérieur et l'extérieur.
 Nos baies vitrées sont disponibles en plusieurs configurations, y compris coulissantes, à galandage (où les panneaux disparaissent dans les murs), et fixes. Grâce à la finesse des profilés en aluminium, nous parvenons à maximiser la surface vitrée,
 offrant ainsi des vues panoramiques tout en assurant une excellente isolation thermique et acoustique.
{% endblock %}
{% block POURQUOI %}test {% endblock %}