{% extends  '../../prod.html' %}
{% load static %}
{% block firsttitle %}Brise-soleil en Aluminium: {% endblock %}
{% block intro %}introduction{% endblock %}
{% block image %}
<img src="{% static 'images/products/1568118026.png' %}" alt="CLOISON AMOVIBLE logo">
{% endblock %}
{% block concept %}
ISO-BEST propose des brise-soleil en aluminium pour contrôler la lumière naturelle et améliorer l'efficacité énergétique des bâtiments. 
Nos brise-soleil peuvent être fixes ou orientables, permettant une gestion optimale de l'apport solaire tout en ajoutant une dimension architecturale moderne à la façade du bâtiment.
{% endblock %}
{% block POURQUOI %}test {% endblock %}