{% extends  '../../prod.html' %}
{% load static %}
{% block firsttitle %}Cloisons Amovibles en Aluminium:  {% endblock %}
{% block intro %}introduction{% endblock %}
{% block image %}
<img src="{% static 'images/products/1568118026.png' %}" alt="CLOISON AMOVIBLE logo">
{% endblock %}
{% block concept %}
Nous fabriquons et installons des cloisons amovibles en aluminium,
offrant une solution flexible et élégante pour la gestion des espaces intérieurs. 
Ces cloisons sont idéales pour les bureaux, les salles de réunion, les espaces commerciaux,
et même les résidences, permettant de diviser ou de reconfigurer des espaces rapidement et facilement. 
Nos cloisons amovibles sont conçues pour être légères mais robustes, 
avec des finitions personnalisables pour s'intégrer parfaitement à l'esthétique du bâtiment.
{% endblock %}
{% block POURQUOI %}test {% endblock %}