
{% extends  '../../prod.html' %}
{% load static %}
{% block firsttitle %}Fenêtres en Aluminium:{% endblock %}
{% block intro %}introduction{% endblock %}
{% block image %}
<img src="{% static 'images/products/1568118026.png' %}" alt="CLOISON AMOVIBLE logo">
{% endblock %}
{% block concept %}
Nous concevons et fabriquons des fenêtres en aluminium qui allient esthétique et performance.
Nos fenêtres offrent une excellente isolation thermique et acoustique, 
tout en permettant une grande variété de designs grâce à la flexibilité de l’aluminium.
 Nous proposons des fenêtres à battant,
coulissantes, et oscillo-battantes, toutes réalisées sur mesure pour répondre aux spécificités de chaque projet.  
{% endblock %}
{% block POURQUOI %}test {% endblock %}