{% extends  '../../prod.html' %}
{% load static %}
{% block firsttitle %}Volets en Aluminium: {% endblock %}
{% block intro %}introduction{% endblock %}
{% block image %}
<img src="{% static 'images/products/1568118026.png' %}" alt="CLOISON AMOVIBLE logo">
{% endblock %}
{% block concept %}
Nos volets en aluminium offrent une protection efficace contre les intempéries et les intrusions. 
Ils sont disponibles en modèles battants, coulissants ou roulants, 
et peuvent être personnalisés en termes de couleur et de finition pour s’intégrer parfaitement au design de la façade.

{% endblock %}
{% block POURQUOI %}test {% endblock %}