{% extends  'basefiles/baseprudct.html' %}
{% load static %}
{% block title %}produits{% endblock %}
{% block content %}
{% include 'basefiles/slidesfile.html' %}

    <div class="one-produit-block">
        <div class="container p-0 product">
            <div class="block-head">
                <h2 class="title"><span>{% block firsttitle %}{% endblock %}</span></h2>
            </div>
            <div class="row">
                <div class="col-lg-4">
                  <div class="product-img">
                        {% block image %}{% endblock %}
                  </div>
                                    </div>
                <div class="col-lg-8 bg-color">
                    <div class="product-info">
                        <div class="title d-none"></div>
                        <div class="desc">
                            <p>
                                <p>

                                    {% block intro %}{% endblock %}

                                </p>
                            </p>
                            <div class="panel with-nav-tabs panel-default">
                                <div class="panel-heading">
                                    <ul class="nav nav-tabs justify-content-center">
                                        <li class="active show"><a class="active show" href="#tab_1" data-toggle="tab">Notre Savoir-Faire</a></li>
                                        <!-- <li><a href="#tab_2" data-toggle="tab">PRINCIPE</a></li>
                                        <li><a href="#tab_3" data-toggle="tab">REMPLISSAGE</a></li>
                                        <li><a href="#tab_4" data-toggle="tab">PORTES</a></li> -->
                                                                                                                                                                        </ul>
                                </div>
<div class="panel-body">
    <div class="tab-content">
                                                                                                                                                                                                                                    <div class="tab-pane fade in active show" id="tab_1">
      <p>{% block concept %}{% endblock %}</p>
      <!-- <p>Traitement de surface des profil&eacute;s :<br />
      Le traitement de surface est r&eacute;alis&eacute; comme suit :</p> -->                                                                                                                               </div>
    </div>
    </div>
                        </div>
                        <div class="buttons">
                            <div class="hover-animation">
                                <a class="button-s1" href="https://www.aluminiumpyxel.com/contactez-nous"><i class="fa fa-comment"></i> Contacez-Nous</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
       
            <div class="services-block">
    <div class="container">
        <div class="block-head">
            <h2 class="title"><span>POURQUOI NOUS CHOISIR ?</span></h2>
            {% block POURQUOI %}{% endblock %}
        </div>
    </div>
    
</div>

    </div>
</div>

<!-- Swiper framework js -->
<script src="{% static 'js/swiper.min.js' %}"></script>
<!-- Owl carousel -->
<script src="{% static 'js/owl.carousel.min.js' %}"></script>

<!-- Main js -->
<script src="{% static 'js/main.js?rb=NWiJW' %}"></script>

<script type="text/javascript">

    $(document).ready(function () {
        var windowsize = $(window).width();
        if (windowsize < 992) {
            $('[data-aos]').removeClass('aos-init');
            $('[data-aos]').removeClass('aos-animate');
            $('[data-aos]').removeAttr('data-aos');
            $('body').removeAttr('data-aos-easing');
            $('body').removeAttr('data-aos-duration');
            $('body').removeAttr('data-aos-delay ');
        }
        init();


    function init() {
        $( "img" ).each(function() {
            $( this ).attr( "src" , $( this ).attr( "data-src"));
        });
    }


    $(".carousel-list").owlCarousel({
    autoPlay: true,
    autoplayTimeout: 1500,
    slideSpeed:1500,
    pagination:true,
    navigation:false,
    items : 3,
    /* transitionStyle : "fade", */    /* [This code for animation ] */
    navigationText:["<i class='fa fa-angle-left'></i>","<i class='fa fa-angle-right'></i>"],
    itemsDesktop : [1199,3],
    itemsDesktopSmall : [991,2],
    itemsTablet: [768,1],
    itemsMobile : [479,1],
    });


    if ('serviceWorker' in navigator) {
        console.log("Will the service worker register?");
        navigator.serviceWorker.register('https://www.aluminiumpyxel.com/service-worker.js?rb=lOJjT')
            .then(function(reg){
                console.log("Yes, it did.");
            }).catch(function(err) {
            console.log("No it didn't. This happened:", err)
        });
    }

    });
    </script>

     {% endblock %}