{% extends  '../../prod.html' %}
{% load static %}
{% block firsttitle %}Clôtures Métalliques:  {% endblock %}
{% block intro %}introduction{% endblock %}
{% block image %}
<img src="{% static 'images/products/1568118026.png' %}" alt="CLOISON AMOVIBLE logo">
{% endblock %}
{% block concept %}
ISO-BEST propose des clôtures métalliques pour assurer la sécurité tout en ajoutant une touche de design moderne aux espaces extérieurs.
Nos clôtures en acier ou en aluminium sont disponibles dans une variété de styles, allant des designs simples et épurés aux motifs plus complexes. Chaque clôture est conçue pour résister aux intempéries et nécessiter peu d'entretien.
{% endblock %}
{% block POURQUOI %}test {% endblock %}
