{% extends  '../../prod.html' %}
{% load static %}
{% block firsttitle %}Portes Coupe-Feu Métalliques:{% endblock %}
{% block intro %}introduction{% endblock %}
{% block image %}
<img src="{% static 'images/products/1568118026.png' %}" alt="CLOISON AMOVIBLE logo">
{% endblock %}
{% block concept %}
Nos portes coupe-feu métalliques sont conçues pour offrir une protection maximale contre les incendies,
 tout en respectant les réglementations en vigueur. 
 ISO-BEST maîtrise les techniques de fabrication qui garantissent l'étanchéité au feu et la durabilité des portes. 
 Ces produits sont idéaux pour les environnements industriels,
 commerciaux, et résidentiels nécessitant des solutions de sécurité accrues.
{% endblock %}
{% block POURQUOI %}test {% endblock %}