{% extends  '../../prod.html' %}
{% load static %}
{% block firsttitle %}Escaliers Métalliques: {% endblock %}
{% block intro %}introduction{% endblock %}
{% block image %}
<img src="{% static 'images/products/1568118026.png' %}" alt="CLOISON AMOVIBLE logo">
{% endblock %}
{% block concept %}
 Nos escaliers métalliques sont conçus pour être à la fois fonctionnels et esthétiques. 
ISO-BEST fabrique des escaliers en acier ou en aluminium pour des applications résidentielles, commerciales, ou industrielles.
 Nous offrons des solutions sur mesure, incluant des escaliers droits,
 en colimaçon, ou suspendus, avec une attention particulière aux détails de conception et de finition.
{% endblock %}
{% block POURQUOI %}test {% endblock %}