{% extends  '../../prod.html' %}
{% load static %}
{% block firsttitle %}Fenêtres Métalliques:{% endblock %}
{% block intro %}introduction{% endblock %}
{% block image %}
<img src="{% static 'images/products/1568118026.png' %}" alt="CLOISON AMOVIBLE logo">
{% endblock %}
{% block concept %}
 Nous proposons des fenêtres métalliques qui combinent robustesse et design élégant.
 Nos fenêtres en acier ou en aluminium offrent une excellente isolation thermique et acoustique, 
 tout en étant extrêmement durables. 
 ISO-BEST fabrique des fenêtres sur mesure pour s'adapter parfaitement aux besoins architecturaux, 
offrant une grande variété de finitions et de styles.
{% endblock %}
{% block POURQUOI %}test {% endblock %}