{% extends  '../../prod.html' %}
{% load static %}
{% block firsttitle %}Garde-corps Métalliques: {% endblock %}
{% block intro %}introduction{% endblock %}
{% block image %}
<img src="{% static 'images/products/1568118026.png' %}" alt="CLOISON AMOVIBLE logo">
{% endblock %}
{% block concept %}
ISO-BEST conçoit des garde-corps métalliques pour sécuriser les escaliers, les balcons, et les terrasses.
 Nos garde-corps sont disponibles en acier inoxydable, en acier galvanisé, ou en aluminium, et peuvent être personnalisés avec des inserts en verre,
  des câbles ou des motifs décoratifs.
 Nous veillons à ce que chaque garde-corps soit à la fois sécurisé, durable, et esthétiquement plaisant.
{% endblock %}
{% block POURQUOI %}test {% endblock %}