{% extends  '../../prod.html' %}
{% load static %}
{% block firsttitle %}Portails Métalliques: {% endblock %}
{% block intro %}introduction{% endblock %}
{% block image %}
<img src="{% static 'images/products/1568118026.png' %}" alt="CLOISON AMOVIBLE logo">
{% endblock %}
{% block concept %}
 Nous fabriquons des portails métalliques sur mesure, offrant des solutions sécurisées et esthétiques pour les entrées de propriétés résidentielles et commerciales. Les portails ISO-BEST peuvent être motorisés et personnalisés avec divers designs et finitions, en fonction des besoins du client.
 Nous nous engageons à offrir des portails qui allient durabilité, sécurité, et esthétique.
{% endblock %}
{% block POURQUOI %}test {% endblock %}