{% extends  '../../prod.html' %}
{% load static %}
{% block firsttitle %}Rideaux Métalliques et Grilles de Protection: {% endblock %}
{% block intro %}introduction{% endblock %}
{% block image %}
<img src="{% static 'images/products/1568118026.png' %}" alt="CLOISON AMOVIBLE logo">
{% endblock %}
{% block concept %}
ISO-BEST fabrique des rideaux métalliques et des grilles de protection pour sécuriser les vitrines de magasins, les entrepôts, et autres locaux commerciaux. Nos produits sont conçus pour offrir une sécurité maximale tout en étant faciles à manipuler et résistants aux tentatives d’effraction.
 Nous proposons également des options de motorisation pour un usage plus pratique.
{% endblock %}
{% block POURQUOI %}test {% endblock %}