{% extends  './nav.html' %}
{% load static %}
{% block Adecouvrir %}
<div class="related-product text-center">
    <div class="container">
        <div class="block-head">
            <h2 class="title"><span>À découvrir aussi</span></h2>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row p-0 m-0 carousel-list">
                    <div class="col-md-4">
                        <div class="item">
                            <a href="" hidden></a>
                            <div class="item-img">
                                <a href="https://www.aluminiumpyxel.com/produits/cloison-amovible-link">
                                        <img class="" src="https://www.aluminiumpyxel.com/images/products/1572265910.jpg" alt="CLOISON AMOVIBLE LINK">
                                    </a>
                            </div>
                            <div class="info">
                                <a class="link" href="MenuiserieMétalliquelast.html">Menuiserie Métallique</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="item">
                            <a href="" hidden></a>
                            <div class="item-img">
                                <a href="https://www.aluminiumpyxel.com/produits/cloison-bord-a-bord-vitree-slim">
                                        <img class="" src="https://www.aluminiumpyxel.com/images/products/1572614119.jpg" alt="MENUISERIE FAÇADE
                                        ">
                                    </a>
                            </div>
                            <div class="info">
                                <a class="link" href="MenuiserieFaçade.html">MENUISERIE FAÇADE
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="item">
                            <a href="" hidden></a>
                            <div class="item-img">
                                <a href="https://www.aluminiumpyxel.com/produits/portes-et-accessoires">
                                        <img class="" src="https://www.aluminiumpyxel.com/images/products/1568118026.png" alt="MENUISERIE ALUMINIUM">
                                    </a>
                            </div>
                            <div class="info">
                                <a class="link" href="MENUISERIEALUMINIUM.html">MENUISERIE ALUMINIUM</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="item">
                            <a href="" hidden></a>
                            <div class="item-img">
                                <a href="https://www.aluminiumpyxel.com/produits/sunbed-praya">
                                        <img class="" src="https://www.aluminiumpyxel.com/images/products/1571347790.jpg" alt="L'Automatisme">
                                    </a>
                            </div>
                            <div class="info">
                                <a class="link" href="Automatismelast.html">L'Automatisme</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="item">
                            <a href="" hidden></a>
                            <!-- <div class="item-img">
                                <a href="https://www.aluminiumpyxel.com/produits/pergola-sunway">
                                        <img class="" src="https://www.aluminiumpyxel.com/images/products/1572263949.jpg" alt="Pergola Sunway">
                                    </a>
                            </div> -->
                            <!-- <div class="info">
                                <a class="link" href="https://www.aluminiumpyxel.com/produits/pergola-sunway">Pergola BIOCLIMATIQUE</a>
                            </div> -->
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="item">
                            <!-- <a href="" hidden></a>
                            <div class="item-img">
                                <a href="https://www.aluminiumpyxel.com/produits/brise-soleil-breeze">
                                        <img class="" src="https://www.aluminiumpyxel.com/images/products/1572263700.jpg" alt="Brise-soleil BREEZE">
                                    </a>
                            </div> -->
                            <!-- <div class="info">
                                <a class="link" href="https://www.aluminiumpyxel.com/produits/brise-soleil-breeze">Brise-soleil</a>
                            </div> -->
                        </div>
                    </div>
                    <!-- <div class="col-md-4">
                        <div class="item">
                            <a href="" hidden></a>
                            <div class="item-img">
                                <a href="https://www.aluminiumpyxel.com/produits/persiennes-sunline">
                                        <img class="" src="https://www.aluminiumpyxel.com/images/products/1572263657.jpg" alt="Persiennes SUNLINE">
                                    </a>
                            </div>
                            <div class="info">
                                <a class="link" href="https://www.aluminiumpyxel.com/produits/persiennes-sunline">Persiennes</a>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}