{% extends  './nav.html' %}
{% load static %}
{% block Adecouvrir %}
<div class="logos">
    <div class="logos-slide">
      <img src="{% static 'images/mylogo/arad5.png' %}" />
      <img src="{% static 'images/mylogo/borj3.png' %}" />
      <img src="{% static 'images/mylogo/la.png' %}" />
      <img src="{% static 'images/mylogo/sca.png' %}" />
      <img src="{% static 'images/mylogo/arad5.png' %}" />
      <img src="{% static 'images/mylogo/borj3.png' %}" />
      <img src="{% static 'images/mylogo/la.png' %}" />
      <img src="{% static 'images/mylogo/Sca.png' %}" />
      
      
      
    </div>
  </div>
{% endblock %}